node_modules
hello-blockchain-hardhat/node_modules
hello-blockchain-truffle/node_modules
hello-blockchain-truffle/ntf-staking-app
.env
coverage
coverage.json
typechain

#Hardhat files
cache
artifacts

__pycache__
.env
.history
.hypothesis/
build/
reports/
.env